
<div class="container-fluid contenedor-beneficios">
    <br>
    <br>
    <div class="container beneficios ">
        <div class="row d-flex justify-content-center"><h1>¿Por qué elegirnos?</h1></div>
        <br>
        <br>
        <div class="row">
        <div class="col-md-3"><label class="icon-calendar-1"></label>
            <h3>Agenda flexible</h3>
            <p>Manejamos un agenda flexible donde cuentas con 3 opciones para tomar tus citas:</p>
            <ol>
                <li value="1">Atención a domicilio</li>
                <li value="2">Atención en consultorio</li>
                <li value="3">Consulta online</li>
            </ol>
        </div>
        <div class="col-md-3"><label class="icon-gift"></label>
        <h3>Experiencia</h3>
        <p>9 años de experiencia ofreciendo programas terapeuticos a la medida del individuo, las familias y sus ambientes escolares.</p>
        </div>
        <div class="col-md-3"><label class="icon-clock"></label>
        <h3>Horario flexible</h3>
         <p>Nuestras Terapeutas estarán disponibles de Lunes a sábado en horario flexible de 7 am a 8 pm.</p></div>
        <div class="col-md-3"><label class="icon-megaphone"></label>
        <h3>Seguimiento</h3>
         <p>Acompañamiento constante a pacientes y asesoría a toda la familia. Trabajamos en equipo junto con instituciones educativas</p></div>
        </div>
        
    </div>
   

</div>