<app-menu></app-menu>

<div class="container-fluid ">



  <div class="row">
    <div class="hero-img"><img src="../../../assets/imagenes/Landing-fonoaudiologia.jpg" class="img-fluid" alt="Responsive image">

  
    
      <div class="jumbotron boton d-none d-md-block col-md-4 col-lg-5">
          <h3 class="display-5">Psicología, Terapía Ocupacional y Terapia de Lenguaje </h3>
          <p class="lead">Atención a niños, adolescentes y adultos.</p>
          <p class="font-italic font-weight-bold">"Servicio a Domicilio, en Consultorio u Online"</p>
        <hr class="my-2">
          <p>Encuentra el profesional que estás buscando Aquí.</p>
          <a class="btn button-jumbotron"  routerLink="/formulario" role="button">Cotizar</a>
        </div>
      </div>
  </div>
  

</div>
    
<app-beneficios></app-beneficios>
<app-agendar></app-agendar>
<app-testimonios></app-testimonios>
<app-footer></app-footer>

    
    
    