<div class="container-fluid">
    <br>
    <br>
    <h1 class="text-center">Lo que nuestros pacientes opinan.</h1>
    <br>
    <br>
    <div class="row d-flex justify-content-center ">
        
    
        <div class="col-md-3">
            <div class="justify-content-center"><img src="../../../assets/imagenes/estrellas.png" alt="estrellas" style="width:180px; height:90px;"></div>
            <h3>Miriam Lozada</h3>
            <p>"He recibido asesoría Psicológica para mi hija y el servicio ha sido muy bueno."</p> 
            
        </div>



        <div class="col-md-3">
            <div class="justify-content-center"><img src="../../../assets/imagenes/estrellas.png" alt="estrellas" style="width:180px; height:90px;"></div>
             <h3>Marcela Zambrano</h3>
            <p>"Muy buenos profesionales y excelente trato. 100% recomendado" </p>
               
              
        
        </div>
        <div class="col-md-3">
            <div class="justify-content-center"><img src="../../../assets/imagenes/estrellas.png" alt="estrellas" style="width:180px; height:90px;"></div>
            <h3>Andrea Sanchez</h3>
            <p>El servicio de Psicología es excelente, nos han ayudado a mejorar y crecer como familia. Mil gracias!!!</p>
  
               
        </div>
        
        </div>
        </div>
    


    
    
    