<div class="container-fluid">
    <h1>Lo que nuestros pacientes opinan.</h1>
    <div class="row d-flex justify-content-center ">
        <div class="col-md-3">
            <p>Excelente el servicio ofrecido. La Doctora María Alejandra es muy carismática y acertada. </p>
            
            <div class="row"><img src="../../../assets/imagenes/Pedro Duarte Cliente (2).jpg" alt="..." class="col">
                <div class="col"> <h3>Pedro Duarte</h3>
                <p>Padre de Familia</p></div>
            
            </div>
        </div>
        <div class="col-md-3">
            <p>He recibido asesoría Psicológica para mi hija y el servicio ha sido muy bueno.</p>
            <div class="row"><img src="../../../assets/imagenes/MIRIAM LOZADA Cliente (2).jpg" alt="..." class="col">
                <div class="col"> <h3>Miriam Lozada</h3>
                <p>Cliente</p>
            </div>
            </div>
        </div>
        <div class="col-md-3">
            <p>"Muy buenos profesionales y excelente trato. 100% recomendado" </p>
            <div class="row"><img src="../../../assets/imagenes/Marcela Zambrano Cliente (2).jpg" alt="..." class="img-thumbnail col">
                <div class="col"> <h3>Marcela Zambrano</h3>
                <p>Cliente</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <p>El servicio de Psicología es excelente, nos han ayudado a mejorar y crecer como familia. Mil gracias!!!</p>
            <div class="row"><img src="../../../assets/imagenes/Andrea Sanchez cliente (2).jpg" alt="..." class="img-thumbnail col">
                <div class="col"> <h3>Andrea Sanchez</h3>
                <p>Paciente</p></div>
        </div>
        </div>
    
    </div>
    
    </div>
    