<div class="container-fluid"><app-menu></app-menu></div>
<div class="container-fluid ">



  <div class="row">
    <div class="hero-img"><img src="../../../assets/imagenes/landing-pareja5.jpg" class="img-fluid" alt="Responsive image">

  
    
      <div class="jumbotron boton d-none d-md-block col-md-4 col-lg-5">
          <h3 class="display-5">Psicología, Terapía Ocupacional y Terapia de Lenguaje </h3>
          <p class="lead">Atención a niños, adolescentes y adultos.</p>
          <p class="font-italic font-weight-bold">"Servicio a Domicilio, en Consultorio u Online"</p>
        <hr class="my-2">
          <p>Encuentra el profesional que estás buscando Aquí.</p>
          <a class="btn button-jumbotron"  routerLink="/formulario" role="button">Cotizar</a>
        </div>
      </div>
  </div>
  

</div>
  


<!--Inicio codigo genearl landing pages , descripcion del servicio-->
<div class="container-fluid descripcion-fondo">

  <div class="row d-flex align-items-center" >
    <div class=" col col-12 col-md-7 align-content-center my-5 description font-descripcion">
      <h3 class="text-center">Terapia de Pareja</h3>
      <br>
      <h4 class="ml-5">Crisis en tu relación de pareja.</h4>
      <br>
 <ul class="justify-content-center align-content-center ml-5">
  <li>Resolución de conflictos, sana convivencia y comunicación asertiva.</li>
  <li>Infidelidad y/o desconfianza.</li>
  <li>Conflictos frecuentes y desacuerdos en aspectos esenciales.</li>
  <li> Reforzar el contacto emocional.</li>
  <li>Identificación y transformación de patrones de interacción disfuncional.</li>
  <li> Apoyo en pautas de crianza.</li>
  <li>Rol al ejercer la paternidad y autoridad frente a los hijos.</li>
  <li>Asesoría en proyecto de vida personal, en pareja y familiar.</li>
</ul>

    </div>
    <div class=" col col-12 col-md-5 py-4">
      <form class=" descripcion py-3 rounded mr-5 my-5">
        <h3 class="text-center">Agenda tu primera cita Aquí</h3>
        <div class="row mb-2 mt-3 mx-2"> 
          <div class="col m">
            <input type="text" class="form-control" placeholder="Nombres">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Apellidos">
          </div>
        </div>
        <div class="row my-2 mx-2">
          <div class="col">
            <input type="email" class="form-control" placeholder="Correo">
          </div>
          <div class="col ">
            <input type="Tel" class="form-control" placeholder="Teléfono">
          </div>
        </div>
        <div class="row my-2 mx-2">
          <div class="form-group col">
        
            <select id="inputState" class="form-control">
              <option selected>Seleccionar Servicio</option>
              <option>Terapia de Pareja</option>
              <option>Terapia Individual</option>
              <option>Psicología Infantil</option>
              <option>Psicología Adolescentes</option>
              <option>Asesoría en cambio de Colegio</option>
              <option>Terapia de Lenguaje</option>
              <option>Terapia Ocupacional</option>
            </select>
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Escribe tu Mensaje">
          </div>
        </div>
        <div class="form-group ml-5 mt-2">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
              Aceptar Términos y Condiciones.
            </label>
          </div>
        </div>
        <button type="submit" class="btn btn-primary ml-5">AGENDAR</button>
      </form>



    </div>

  </div>
</div>


                            
<!--Fin Codigo general langin pages -->
  
<app-beneficios></app-beneficios>
<app-agendar></app-agendar>
<app-testimonios></app-testimonios>
<app-footer></app-footer>
