
.icon-cancel:before { content: '\e800'; } /* '' */
.icon-cancel-1:before { content: '\e801'; } /* '' */
.icon-home:before { content: '\e802'; } /* '' */
.icon-phone:before { content: '\e803'; } /* '' */
.icon-megaphone:before { content: '\e804'; } /* '' */
.icon-gift:before { content: '\e805'; } /* '' */
.icon-thumbs-up:before { content: '\e806'; } /* '' */
.icon-search:before { content: '\e807'; } /* '' */
.icon-video:before { content: '\e808'; } /* '' */
.icon-search-1:before { content: '\e809'; } /* '' */
.icon-lock-open-empty:before { content: '\e80a'; } /* '' */
.icon-cog:before { content: '\e80b'; } /* '' */
.icon-email:before { content: '\e80c'; } /* '' */
.icon-pencil:before { content: '\e80d'; } /* '' */
.icon-cogs:before { content: '\e80e'; } /* '' */
.icon-calendar:before { content: '\e80f'; } /* '' */
.icon-clock:before { content: '\e810'; } /* '' */
.icon-lightbulb:before { content: '\e811'; } /* '' */
.icon-calendar-1:before { content: '\e812'; } /* '' */
.icon-location:before { content: '\e813'; } /* '' */
.icon-group:before { content: '\e814'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-bus:before { content: '\f207'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-handshake-o:before { content: '\f2b5'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */