
 
 
    <div class="container-fluid text-center bg-light title-servicios text-weight-bold h-70">Servicios</div>
    <div class="container-fluid border contenedor-servicios">
        <br>
        <br>
        
       <div class="container">
        <div class="row servicios"> 
            <div class="menu-vertical">
            <div class="nav flex-column" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              <a class="nav-link active border py-4" id="v-pills-pareja-tab" data-toggle="pill" href="#v-pills-pareja" role="tab" aria-controls="v-pills-pareja" aria-selected="true"><label class="icon-pencil"></label>  Terapia de Pareja</a>
              <a class="nav-link border py-3" id="v-pills-individual-tab" data-toggle="pill" href="#v-pills-individual" role="tab" aria-controls="v-pills-individual" aria-selected="false"><label class="icon-lock-open-empty"></label>Terapia Individual</a>
              <a class="nav-link border py-3" id="v-pills-infantil-tab" data-toggle="pill" href="#v-pills-infantil" role="tab" aria-controls="v-pills-infantil" aria-selected="false"><label class="icon-group"></label>Psicología Infantil</a>
              <a class="nav-link border py-3" id="v-pills-adolescentes-tab" data-toggle="pill" href="#v-pills-adolescentes" role="tab" aria-controls="v-pills-adolescentes" aria-selected="false"><label class="icon-cogs"></label>Psicología Adolescentes</a>
              <a class="nav-link border py-3" id="v-pills-colegio-tab" data-toggle="pill" href="#v-pills-colegio" role="tab" aria-controls="v-pills-colegio" aria-selected="false"><label class="icon-thumbs-up"></label>Asesoría cambio Colegio</a>
              <a class="nav-link border py-3" id="v-pills-ocupacional-tab" data-toggle="pill" href="#v-pills-ocupacional" role="tab" aria-controls="v-pills-ocupacional" aria-selected="false"><label class="icon-bus"></label>Terapia Ocupacional</a>
              <a class="nav-link border py-3" id="v-pills-fonoaudiologia-tab" data-toggle="pill" href="#v-pills-fonoaudiologia" role="tab" aria-controls="v-pills-fonoaudiologia" aria-selected="false"><label class="icon-search-1"></label>Fonoaudiología</a>
            </div>
          </div>
          <div class="col"> 
            <div class="tab-content" id="v-pills-tabContent">
              <div class="tab-pane fade show active" id="v-pills-pareja" role="tabpanel" aria-labelledby="v-pills-pareja-tab">
                  <div class="row mt-4 ml-3 mr-3 mb-4">
                      <div class="col-md-6 mt-4 font-servicios">
                          <h3>Terapia de Pareja</h3>
                          <h4>Crisis en tu relación de pareja.</h4>
                          <ul class="text-justify">
                              <li>Resolución de conflictos, sana convivencia y comunicación asertiva.</li>
                              <li>Infidelidad y/o desconfianza.</li>
                              <li>Conflictos frecuentes y desacuerdos en aspectos esenciales.</li>
                              <li> Reforzar el contacto emocional.</li>
                              <li>Identificación y transformación de patrones de interacción disfuncional.</li>
                              <li> Apoyo en pautas de crianza.</li>
                              <li>Rol al ejercer la paternidad y autoridad frente a los hijos.</li>
                              <li>Asesoría en proyecto de vida personal, en pareja y familiar.</li>
                          </ul>
                          
                          
                      </div>
                      <div class="col-md-6 mt-4 mb-4">
                        <img src="../../../assets/imagenes/home-pareja.jpg" class="img-fluid h-100 w-100 rounded" alt="Responsive image">
                      </div>
                  </div>
                  
              </div>
              <div class="tab-pane fade" id="v-pills-individual" role="tabpanel" aria-labelledby="v-pills-individual-tab">
                <div class="row mt-3 ml-3 mr-3 mb-3">
                    <div class="col-md-6 mt-3 font-servicios ">
                        <h3>Psicoterapia Individual</h3>
                        <h4>Conocimiento de sí mismo</h4>
                        <ul>
                            <li>Exploración de emociones negativas.</li>
                            <li>Tristeza, ansiedad, estrés, miedos.</li>
                            <li>Apoyo en el manejo de emociones y Baja autoestima.</li>
                            <li>Asesoría en proyecto de vida personal, en pareja y familiar.</li>
                            <li>Tolerancia a la frustación. </li>
                            <li>Control de Impulsos.</li>
                            <li>Apoyo Terapeutico en manejo de duelo.</li>
                            <li>Toma de decisiones y empoderamiento.</li>
                            <li>Desarrollo de herramientas en habilidades sociales, comunicación asertiva y resolución de conflictos.</li>
                            <li>Asesoría Psicológica frente a Sensación de estancamiento en su proyecto de vida ( familiar, estudiantil, profesional)</li>
                        </ul>
                        
                    </div>
                    <div class="col-md-6 mt-3 mb-3">
                        <img src="../../../assets/imagenes/home-individual.jpg" class="img-fluid h-100 w-100 rounded" alt="Responsive image">
                    </div>
                </div>
              </div>
              <div class="tab-pane fade" id="v-pills-infantil" role="tabpanel" aria-labelledby="v-pills-infantil-tab">
                
                    <div class="row mt-4 ml-4 mr-4 mb-4">
                        <div class="col-md-6 mt-4 font-servicios">
                            <h3>Psicología Infantil</h3>
                            <ul>
                                <li>Autoestima, liderazgo, Depresión, Ansiedad o stress.</li>
                                <li>Problemas de comportamiento, conducta y Trastorno negativista desafiante.</li>
                                <li>Deserción escolar, Bajo rendimiento escolar.</li>
                                <li>Prevención e intervención frente Bullying, acoso escolar y suicidio.</li>
                                <li>Asesoría Psicológica frente a Déficit de atención, memoria y concentración.</li>
                                <li>Asesoría a padres de familia frente a pautas de crianza, comunicación asertiva, ejercicio de autoridad.</li>
                                <li>Asesoría frente el proceso de adaptación a ambientes escolares.</li>
                            </ul>
                            
                        </div>
                        <div class="col-md-6 mt-4 mb-4">
                            <img src="../../../assets/imagenes/home-infantil.jpg" class="img-fluid h-100 w-100 rounded" alt="Responsive image">
                        </div>
                    </div>
                  
              </div>

              <div class="tab-pane fade" id="v-pills-adolescentes" role="tabpanel" aria-labelledby="v-pills-adolescentes-tab">
                <div class="row mt-3 ml-4 mr-3 mb-1">
                    <div class="col-md-6 mt-3 font-servicios">
                        <h3>Psicología para adolescentes</h3>
                        <ul>
                            <li>Apoyo psicológico en la transición de cambio de niñez a adolescencia, maduración de su cuerpo o sexualidad.</li>
                            <li>Comportamientos de deseo o exploración frente consumo alcohol o drogas.</li>
                            <li>Depresión, ansiedad, tristeza, baja autoestima, timidez, tolerancia a la frustación.</li>
                            <li>Trastornos de alimentación y dificultades para relacionarse con otros.</li>
                            <li>Deserción escolar y Orientación Vocacional.</li>
                            <li>Asesoría profesional sobre sexualidad.</li>
                            <li>Desarrollo de habilidades sociales y de liderazgo.</li>
                            <li>Herramientas para el uso adecuado de internet y redes sociales.</li>
                        </ul>
                        
                    </div>
                    <div class="col-md-6 mt-4 mb-4">
                        <img src="../../../assets/imagenes/home-adolescentes.jpg" class="img-fluid h-100 w-100 rounded" alt="Responsive image">
                    </div>
                </div>
                  


              </div>


              <div class="tab-pane fade" id="v-pills-colegio" role="tabpanel" aria-labelledby="v-pills-colegio-tab">
                <div class="row mt-2 ml-2 mr-2 mb-2">
                    <div class="col-md-6 mt-2 font-servicios">
                        <h3>Asesoría en cambio/selección de Colegio</h3>
                        <h4>¿Cuál es el mejor colegio para mi hijo/a?</h4>
                        <p>Te invitamos a conocer nuestro servicio  de asesorías para que elijas la mejor institución. </p>
                        <ul>
                            <li>Análisis del perfil familiar y proyecciones.</li>
                            <li>Implementación de pruebas.</li>
                            <li>Información de instituciones educativas acordes con el perfil del estudiante y la familia.</li>    
                           
                        </ul>
                        <br>

                        <div class="alert-primary d-flex d-flex-row rounded"><label class="icon-lightbulb"></label><p class="font-italic"> "Te orientamos frente al modelo educativo más benéfico para tu hijo, tú eliges el colegio de tu preferencia."

                        </p></div>
                        
                   
                        
                    </div>
                    <div class="col-md-6 mt-2 mb-2">
                        <img src="../../../assets/imagenes/home-colegio.jpg" class="img-fluid h-100 w-100 rounded" alt="Responsive image">
                    </div>
                </div>
                  
              </div>



              
          
              
              <div class="tab-pane fade" id="v-pills-ocupacional" role="tabpanel" aria-labelledby="v-pills-ocupacional-tab">
                <div class="row mt-2 ml-2 mr-2 mb-2">
                    <div class="col-md-6 mt-2 font-servicios">
                        <h3>Terapia Ocupacional</h3>
                        <h4> Terapia para Bebés</h4>
                        <ul>
                            <li>Estimulación temprana, gateo y rolado</li>
                            <li>Desarrollo motor fino y grueso</li>
                            <li>Terapia de interación sensorial</li>   
                        </ul>
                        <h4> Terapia para niños y adolescentes</h4>
                        <ul>
                            <li>Proceso de atención, memoria  y concentración</li>
                            <li>Motricidad fina, gruesa e inquietud motora</li>
                            <li>Seguimiento de Instrucciones y ejecución de tareas</li>
                            <li>Deficit de atención e Hiperactividad</li>
                        </ul>
                        <h4>Terapia para adultos y adulto mayor</h4>
                        <ul>
                            <li>Estimulación cognitiva</li>
                            <li>Asesoría en actividades diarias del adulto</li>
                          
                           
                        </ul>
                        
                    </div>
                    <div class="col-md-6 mt-2 mb-2">
                        <img src="../../../assets/imagenes/home-ocupacional.jpg" class="img-fluid h-100 w-100 rounded" alt="Responsive image">
                    </div>
                </div>
                  
              </div>


              <div class="tab-pane fade" id="v-pills-fonoaudiologia" role="tabpanel" aria-labelledby="v-pills-colegio-tab">
                <div class="row mt-2 ml-2 mr-2 mb-2">
                    <div class="col-md-6 mt-2 font-servicios">
                        <h3>Terapia de Lenguaje/Fonoaudiología</h3>
                        <h4>Terapia para Bebés</h4>
                        <ul>
                            <li>Estimulación de lenguaje.</li>
                            <li>Terapia Miofuncional y deglución.</li>
                            <li>Fisura Labiopalatina.</li>
                           
                        </ul>
                        <h4> Terapia para niños y adolescentes</h4>
                        <ul>
                            <li>Problemas de Habla, voz, lenguaje y aprendizaje.</li>
                            <li>Dificultades en lectura y escritura.</li>
                            <li>Deglución atipica, tartamudez.</li>
                        </ul>
                        
                        <h4>Terapia adultos y adulto mayor</h4>
                        <ul>
                            <li>Rehabilitación de habla, lenguaje, deglución. </li>
                            <li>Transtornos cognitivos como demencia o lesión del hemisferio derecho.</li> 
                        </ul>
                        
                        
                    </div>
                    <div class="col-md-6 mt-2 mb-2">
                        <img src="../../../assets/imagenes/home-fonoaudiologia.jpg" class="img-fluid h-100 w-100 rounded" alt="Responsive image">
                    </div>
                </div>
                  
              </div>



            </div>
          </div>
        </div>
       
      
      <br>
      <br>
           

       </div>
           
    
    </div>
    
    


