<div class="bg-light" style="width: 100%; height: 100px;"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-7 agendar">
          
            <br>
            <br>
            <h1 class="text-center">¿Cómo adquirir nuestros servicios?</h1>
            <br>
            <h2 class="text-left ml-5">Solicita tu servicio de Asesoría Terapeutica con estos sencillos pasos: </h2>
            <br>
            <br>

            <div class="ml-5">
                <div class="d-inline p-2"><img src="../../../assets/imagenes/one.png" alt="one" width="50px" height="50px"></div>
                <div class="d-inline p-2"><p class="d-inline">Cuéntanos tu motivo de consulta.</p>  </div>
        
            </div>
            <br>
            <br>

            <div class="ml-5"> 
                <div class="d-inline p-2"> <img src="../../../assets/imagenes/two.png" alt="two" width="50px" height="50px"> </div> 
                <div class="d-inline p-2"><p class="d-inline">Escoge la modalidad que más se acomode a tus necesidades: 
                    Consultorio, Domicilio u Online.</p></div> 
            </div>
          
           <br>
           <br>
          <div class="ml-5">
            <div class="d-inline"><img src="../../../assets/imagenes/three (1).png" alt="four" width="50px" height="50px"></div> 
            <div class="d-inline"><p class="d-inline">Escoge los horarios y fecha de  tu interés.</p> </div>
         </div>

         <br>
         <br>
        <div class="ml-5">
            <div class="d-inline"><img src="../../../assets/imagenes/four.png" alt="one" width="50px" height="50px"></div>
            <div class="d-inline"><p class="d-inline"> Recibe el servicio de asesoría por Psicología, Terapia Ocupacional o Fonoaudiología.</p> </div>
        </div>
     
        
    
        

            </div>
            
    
        <div class="col-lg-5 d-flex justify-content-end">
    
            <img src="../../../assets/imagenes/Chica.jpg" alt="Responsive image" style="width:90%; height:700px;" >
    
        </div>
    
    </div>
    <div class=" container-fluid row cotizar d-flex align-items-center" style="height:200px;">
        <div class="col-md-9 ">
            <h1 class="text-left font-italic">¿Podemos ayudarte?</h1>
        <p class="text-left font-italic">Escoge la modalidad que más se acomoda a tus necesidades: Domicilio, Consultorio u Online.</p>
    
        </div>
        <div class="col-md-3">
            <a class="btn btn-warning btn-lg"  routerLink="/formulario" role="button">AGENDA TU CITA</a>
          
            
        </div>
        
        
    
</div>


</div>
   
