<div class="container row">
    <div class="col-md-6">
        <br>
        <br>
        <h2>¿Cómo adquirir nuestros servicios?</h2>
        <p>Solicita tu servicio de Asesoría Terapeutica con estos sencillos pasos: </p>

        <div class="col-md-10 font-weight-bold d-flex d-flex-row adress">
            <div class="col-md-7 d-flex d-flex-row mt-1"><label class="icon-home"></label> <p class="mt-3">Cuéntanos tu motivo de consulta.</p></div>
 
             <div class="col-md-3 d-flex d-flex-row mt-1" ><label class="icon-phone"> </label> <p class="mt-3">Escoge la modalidad que más se acomode a tus necesidades: Consultorio, domicilio u online.</p></div>
         </div>
       <li><label  class="icon-search"> Cuéntanos tu motivo de consulta.</label></li>
       <br>
       <li><label  class="icon-home">Escoge la modalidad que más se acomode a tus necesidades: Consultorio, domicilio u online.</label></li>
       <br>
       <li><label  class="icon-calendar-1"> Escoge los horarios y fecha de  tu interés.</label></li>
       <br>
       <li><label  class="icon-handshake-o"> Recibe el servicio de asesoría por Psicología, Terapia Ocupacional o Fonoaudiología.</label></li>

    </div>

    <div class="col-md-6">

        <img src="../../../assets/imagenes/Chica.jpg" class="img-fluid" alt="Responsive image">

    </div>
    <div class="row">
        <div class="col-md-9">
            <h1>¿Podemos ayudarte?</h1>
        <p>Escoge la modalidad que más se acomoda a tus necesidades: Domicilio, Consultorio u Online.</p>

        </div>
        <div class="col-md-3">
            <button class="btn btn-warning">AGENDA TU CITA</button>
        </div>
        

    </div>
</div>