<div class="row container-fluid agendar">
    <div class="col-md-8">
        <br>
        <br>
        <h2>¿Cómo adquirir nuestros servicios?</h2>
        <p>Solicita tu servicio de Asesoría Terapeutica con estos sencillos pasos: </p>

        
     <div> <img src="../../../assets/imagenes/one.png" alt="one" width="50px" height="50px">  Cuéntanos tu motivo de consulta.</div>
     <br>
 
     <div> <img src="../../../assets/imagenes/two.png" alt="two" width="50px" height="50px">  Escoge la modalidad que más se acomode a tus necesidades: Consultorio, domicilio u online.</div> 
     <br>

    <div><img src="../../../assets/imagenes/three.png" alt="four" width="50px" height="50px">  Escoge los horarios y fecha de  tu interés.</div>
    <br>
    <div><img src="../../../assets/imagenes/four.png" alt="one" width="50px" height="50px">  Recibe el servicio de asesoría por Psicología, Terapia Ocupacional o Fonoaudiología.</div>

    
</div>

    <div class="col-md-4">

        <img src="../../../assets/imagenes/Chica.jpg" class="img-fluid" alt="Responsive image">

    </div>

</div>

<br>
<br>



<div class=" container row">
    <div class="col-md-9">
        <h1>¿Podemos ayudarte?</h1>
    <p>Escoge la modalidad que más se acomoda a tus necesidades: Domicilio, Consultorio u Online.</p>

    </div>
    <div class="col-md-3">
        <button class="btn btn-warning">AGENDA TU CITA</button>
    </div>
    </div>
    

