<br>
<br>
<br>
<div class="container-fluid footer">
    <div class=" row d-flex justify-content-center">
      
        <label class="icon-phone col-md-3"> Telefono
            <p>3017710142</p></label>
        <label class="icon-email col-md-3"> Correo
            <p>cepap2012@yahoo.com.co</p></label>
        
        <label class="icon-clock col-md-3"> Horario
            <p>Lunes a Sábado</p>
            <p>7 am a 8 pm</p></label>

    </div>
    <div class=" row d-flex justify-content-center">
        <div class="col-md-4">
            <label class="icon-location">Dirección
                <p>Cra 10 B # 182 a 48, Bogotá</p></label>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.0603891650235!2d-74.03520088490531!3d4.7595129424692155!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd5b31480fb9aedb0!2sCepap%20Asesorias-%20Clases%20particulares%20a%20domicilio%20y%20en%20sede.!5e0!3m2!1ses!2sco!4v1582125656303!5m2!1ses!2sco" width="360" height="200" frameborder="0" style="border:0;" allowfullscreen=""></iframe>

        </div>
        <div class="col-md-2">
            <h1>Logo</h1>
            <br>
            <h3>Siguenos</h3>
            <label class="icon-facebook"></label>
            <label class="icon-twitter"></label>
            <label class="icon-instagram"></label>


        </div>
        <div class="col-md-3">
            <h3>Servicios</h3>
           <hr>

            <ul>
                <li>Terapia de pareja</li>
                <li>Terapia Individual</li>
                <li>Psicología Infantil</li>
                <li>Psicología adolescentes</li>
                <li>Asesoría cambio Colegio</li>
                <li>Terapia Ocupacional</li>
                <li>Fonoaudiología</li>
            
            </ul>
            

        </div>
        <div class="col-md-3">
            <h3>About us</h3>
            <hr>
            <ul>
                <li>Home</li>
                <li>Contacto</li>
                <li>Blog</li>
                <li>Privacidad</li>     
            
            </ul>

            <h3>Pruebas</h3>
            <hr>
            <ul>
                <li>Coeficiente Intelectual</li>
                <li>Prueba SENA</li>
                <li>Prueba de desarrollo</li>
                    
            
            </ul>

        </div>

    </div>

    
</div>
<br>
<br>
